:root {
    background-image: url("./assets/tar4g_background.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-position: top;
}

.MuiToolbar-gutters {
    color: white;
}

