:root {
    background-image: url("./assets/tar4g_background.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-position: top;
    /*background-color: transparent;*/
}

.flex-box {
    opacity: 50;
    /*background-color: transparent !important;*/
}