#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url("./assets/theater.jpeg");
  background-size: cover;
  color: white;
}

h1, h2, h3 {
  color: white; /* Example for styling headings */
}

button {
  padding: 10px 20px;
  background-color: #1976d2; /* Your primary color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #155a8a; /* Darker shade on hover */
}
