#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url("./src/assets/theater.jpeg");
  background-size: 100;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-color: rgb(102, 5, 5);
}

h1,
h2,
h3 {
  color: white;
}

button:hover {
  background-color: rgb(220, 0, 78, 0.25);
}

.muiCard {
  background-color: darkgray;
  box-shadow: 0px 4px 10px #000000;
  margin: 10px 5px;
  width: 20vw;
  height: 60vh;
  border-radius: 16px;
  opacity: 90%;
  display: inline-block;
  align-items: center;
  transition: transform 0.3s;
}

.muiCardMedia {
  max-width: 70%;
  height: 60%;
  margin: auto;
  object-fit: contain;
  margin-top: 10px;
}
