/* typography */
html {
  font-family: "Protest Guerrilla", sans-serif;
}
/* table spacing */
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid rgb(156, 25, 2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);

}
/* table header and data cell formatting */
th, td {
  padding: 10px;
}

/* table header */
th {
  font-family: "Protest Guerrilla", sans-serif;
  letter-spacing: 4px;
  font-size: x-large;
  background-color: rgb(209, 202, 202);
  text-shadow: 0 2px 4px #ffffff;
}
/* table data */
td {
  letter-spacing: 1px;
  background-color: rgb(239, 228, 228);
  text-align: center;
}
/* standard buttons */
a.button, .nav-item{
  font-family: "Protest Guerrilla", sans-serif;
  background-color: #000000;
  border: 1px solid white;
  padding: 0px 4px;
  display: inline-block;
  border-radius: 10px;
  cursor: pointer;
}
/* for submit buttons */
.submitButton {
  display: inline-block;
  font-family: "Protest Guerrilla", sans-serif;
  background: rgb(5, 150, 39);
  color: white;
  margin: 5px auto;
  width: 30%;
  height: 20px;
  border: rgb(3, 114, 29) solid 0.5px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bolder;
}
/* for reset buttons */
.resetButton {
  display: inline-block;
  font-family: "Protest Guerrilla", sans-serif;
  background: rgb(245, 76, 57);
  color: white;
  margin: 5px auto;
  width: 30%;
  height: 20px;
  border: #b20000 solid 0.5px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bolder;
}
/* effects on hover for standard buttons */
/* a.button:hover, */
 .nav-item:hover, .submitButton:hover, .resetButton:hover { 
  background-color: rgb(113, 246, 231); 
  color: rgb(82, 82, 74); 
  box-shadow: rgba(32, 31, 31, 0.50) 0px 7px 10px; 
  font-weight: 900; 
  transform: scale(1.25);
}
/* animation code for page title colors */
@keyframes example {
  0%   {background-color:rgba(255, 0, 0, 0.25); left:0px; top:0px;}
  25%  {background-color:rgb(255, 132, 0, 0.25); left:200px; top:0px;}
  50%  {background-color:rgba(238, 255, 6, 0.25); left:200px; top:200px;}
  75%  {background-color:rgb(255, 132, 0, 0.25); left:0px; top:200px;}
  100% {background-color:rgba(255, 0, 0, 0.25); left:0px; top:0px;}
}
/* element to apply the animation to */
h1 {
  position: relative;
  font-family: "Protest Guerrilla", sans-serif;
  padding-top: 10px;
}
h2 {
  position: relative;
  font-family: "Protest Guerrilla", sans-serif;
  padding-top: 10px;
}

body {
  animation-name: example;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  background-blend-mode: blur;
  font-family: Arial, Helvetica, sans-serif;
}
.formContainer {
  margin: 2% auto;
  width: 60%;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.6);
  background: rgba(255, 255, 255, 0.75);
  padding-bottom: 5px;
  border: 2px gray;
  border-radius: 20px;
}
.formHeader {
  text-align: center;
  font-family: "Protest Guerrilla", sans-serif;
  font-size: x-large;
  font-style: italic;
  padding: 10px 0px;
  border-bottom: 2px dashed #787878;
  border-radius: 5px;
}
.formContentContainer {
  margin: 5px;
}
.formInput {
  display: block;
  align-items: center;
  border-radius: 10px;
  border-color: #000000 solid 4px;
  margin: 10px;
  padding: 10px;
  width: 80%;
  height: 5%;
  box-sizing: content-box;
  border: solid black 1px;
  outline: none;
  border-bottom: 1px solid #aaa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  font-size: 12px;
}
input:hover, textarea:hover, select:hover { 
  background-color: rgb(113, 246, 231); 
  color: rgb(82, 82, 74); 
  box-shadow: rgba(32, 31, 31, 0.50) 0px 7px 10px; 
  font-weight: bolder; 
  transform: scale(1.1);
}
#favorite_colors:hover, #marital_status:hover { 
  background-color: rgb(113, 246, 231); 
  color: rgb(82, 82, 74); 
  box-shadow: rgba(32, 31, 31, 0.50) 0px 7px 10px; 
  font-weight: bolder; 
  max-width: fit-content;
  transform: scale(1.1);
}

/* placeholder default color */
::placeholder{
  color: rgb(0, 0, 0);
  text-decoration: dashed;
}

label{
  display: block;
  align-items: center;
  margin: 10px 0px 10px;
  padding: 5px;
  width: (formContainer);
  height: 5%;
  box-sizing: content-box;
  border: none;
  outline: none;
  font-size: 12px;
}

#background_image {
  width: 33vw;
  box-shadow: 0 2px 24px #ef7676;
  border-radius: 58px;
}

nav>div {
  background-color: rgba(59, 59, 59, 0.5);
  width: 33vw;
  box-shadow: 0 2px 24px #bababa;
  border-radius: 10px;
}
/* nav {
  padding: 0;
  background-color: aqua;
} */