/* table spacing */
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid rgb(156, 25, 2);
}

/* table header and data cell formatting */
th, td {
  padding: 10px;
  border-collapse: collapse;
  border: 1px dashed black;
}

/* typography */
html {
  font-family: "Goudy Bookletter 1911", sans-serif;
}

/* table header */
th {
  letter-spacing: 4px;
  font-size: x-large;
  text-decoration: underline;
}

/* table data */
td {
  letter-spacing: 1px;
  text-align: center;
}

/* standard buttons */
a.button{
  background-color: #464646;
  border: 1px solid white;
  color: white;
  padding: 4px 8px;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 10px;
  cursor: pointer;
}
/* effects on hover for standard buttons */
a.button:hover { 
  background-color: rgb(113, 246, 231); 
  color: rgb(82, 82, 74); 
  box-shadow: rgba(32, 31, 31, 0.35) 0px 7px 10px; 
  font-weight: 900; 
}
/* for submit buttons */
input[type=submit]{
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

/* for reset buttons */
input[type=reset] {
  background-color: #aa1704aa;
  border: none;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
/* animation code for page title colors */
@keyframes example {
  0%   {background-color:rgba(255, 0, 0, 0.15); left:0px; top:0px;}
  25%  {background-color:rgb(255, 132, 0, 0.15); left:200px; top:0px;}
  50%  {background-color:rgba(238, 255, 6, 0.15); left:200px; top:200px;}
  75%  {background-color:rgb(255, 132, 0, 0.15); left:0px; top:200px;}
  100% {background-color:rgba(255, 0, 0, 0.15); left:0px; top:0px;}
}
/* element to apply the animation to */
h1 {
  width: 35%;
  border-radius: 10px;
  border-color: #000000;
  border-width: 4px;
  animation-name: example;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  box-shadow: 2px 1px 0px 1px rgba(0, 0, 0, 0.05);
}
/* placeholder default color */
::placeholder{
  color: red;
}