/* 1. Apply a red background to all paragraphs */
p{
    font-family: Arial, Helvetica, sans-serif; /* 11. Change the font family of all <p> elements to Arial  */
    background-color: red;
    font-weight: bold; /*13. Make the text of all <p> elements bold */
}

/* 2. Apply a blue text color to elements with the class `blue-text` */
.blue-text{
    color: blue;
}

/* 3. Apply a green border to the element with the id `unique-element`  */
#unique-element {
    border: 5px solid green;
}

/* 4. Apply a font size of 20px to all <span> elements inside <div>  */
span {
    font-size: 20px;
    display: block; /* 21. Change the display property of all <span> elements to block */
}

/* 5. Apply a yellow background to all input elements with type="text"  */
input[type='text']{
    background-color: yellow;
}
/* 6. Change the text color of all <h1> elements to purple  */
h1 {
    color: purple;
}

/* 7. Change the background color of all <div> elements to lightblue */
div {
    background-color: lightblue;
    opacity: 0.5; /*10. Set the opacity of all <div> elements to 0.5 */
    margin: 20px; /* 16. Add a 20px margin to all <div> elements */
    padding: 10px; /* 17. Add a 10px padding to all <div> elements */
    border: 2px solid black; /* 18. Add a solid, 2px black border to all <div> elements */
    box-shadow: 5px 5px white; /*20. Add a shadow to all <div> elements */
}

/* 8. Apply a background image to the body element */
body {
    background-image: url('assets/top-1000x600.webp');
    background-size: cover;
    background-repeat: no-repeat; /*9. Prevent the background image from repeating*/
  }

  /* 12. Change the font size of all <h2> elements to 24px  */
h2 {
    font-size: 24px;
}

/* 14. Center align all <h3> elements  */
h3 {
    text-align: center;
}

/* 15. Remove underlines all links  */
[href] {
    text-decoration-line:none;
}

/* 19. Set the width of all <img> elements to 200px and height to 150px */
img {
    width: 200px;
    height: 150px;
}

/* 22. Position a <div> element at the top-right corner of the page  */
#top_right {
    position:absolute;
    top:0;
    right:0;
    opacity: 1.0;
}

/* 23. Float a <div> element to the left  */
div#float_left {
    float: inline-start;
    opacity: 0.9;
}

/* 24. Use flexbox to center align items inside a container  */
.container {
    display: inline-flex;
    align-self: center;
    opacity: 0.9;
}